.promotion-datetime:not(:last-child)::after{
    content: ':';
    display: block;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    font-size: 2rem;
    color: #FFFFFF;
}

.user-icon-bottom-line::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -15px;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: #24608f;
}